exportPattern("^[^\\.]")
import("factoextra", "ggplot2", "igraph", "networkD3")
importFrom(gplots, "heatmap.2")
importFrom("graphics", "axis", "boxplot",   "grid", "legend", "lines", "mtext", "par", "plot")
importFrom("graphics", "barplot", "pie", "text")
importFrom("grDevices", "dev.cur", "rainbow", "colorRampPalette", "topo.colors")
importFrom("monochromeR", "generate_palette")
importFrom("stats", "cor", "dist", "cor.test", "sd", "var", "rnorm", "quantile", "setNames")
importFrom("stats", "median", "prcomp", "p.adjust","p.adjust.methods", "runif", "wilcox.test")
importFrom("utils", "globalVariables", "modifyList", "read.table")
